<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shlomi.golemland"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="19" />

    
    
    <application
        android:allowBackup="true"
        android:icon="@raw/app_icon"
        android:label="Golemland"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
	
        <activity
            android:name="com.shlomi.golemland.Initialization.Activities.MainMenuActivity"
            android:screenOrientation="portrait"
            android:label="Golemland" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.shlomi.golemland.Initialization.Activities.LevelsMenuAcitivty"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            
        </activity>
        
        <activity
            android:name="com.shlomi.golemland.game.GameContainers.GameActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.shlomi.golemland.Initialization.Activities.GameOverScreen"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
    </application>
    

</manifest>
